
label{
    color: #EDF5E1;
    margin-top: 10px;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

}

#superheroId{
    margin-bottom: 10px;
}

.textBox {
    display: inline-block;
    width: 150px;
    margin-top: 10px;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -20px;
    padding: 0;
    text-align: center;
    position: relative;
}

body{
    font-family: '8BIT WONDER', sans-serif;
    background-color:#0c0032;
    COLOR: #EDF5E1;
    margin: 0;
    padding: 0;
}

#colouredBlock{
    height: 100vh;
    width: 175px;
    background-color: #0c0032;
    position: absolute;
    left: 0;
}

.listButtons{
    font-family: '8BIT WONDER', sans-serif;
    font-size: 11px;
    margin-top: 15px;
}

.selectionBox{
    margin-top: 10px;
    width: 125px;
    text-align: center;
    align-content: center;
}

#headerDiv{
    background-color: #0c0032;
    height: 50px;
}

#startP{
    margin-top: 250px;
}

#publisherLabel{
    margin-top: 25px;
}

#otherSelection{
    width:125px;
}

#listContainer{
    flex: 1;
    background-color:  #0c0032;
    width: 160px;
    height: 40vh;
}

h3{
    text-underline: #EDF5E1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}

#mainContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 100vw;
}

#listContainer, #listDisplayDiv {
    flex: 1;
    width: 160px;
}

#contentContainer {
    flex: 3;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#listHeader{
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}


#searchResultsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    width: 100%;
    flex-grow: 1;
    justify-content: center;
    text-align: center;
}

.superheroDiv {
    background: #3500D3;
    width: 750px;
    margin-bottom: 10px;
    display: flex;
    overflow: auto;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.superheroDiv ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.superheroDiv ul li {
    list-style-type: none;
    width: 100%;
    text-align: center;
    flex: 0 0 calc(50% - 20px);
    margin: 10px;
    background-color: #4831D4;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.superheroDiv button {
    background-color: #5CD895;
    color: #0c0032;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.superheroDiv button:hover {
    background-color: #43A047;
}

#listDisplayDiv{
    width: 200px;
    height: 400px;
    right: 0;
    margin-left: -40px;
    background-color: white;
    margin-top: 5px;
    color: black;
    overflow: auto;
}

#listContainer{
    margin-right: 10px;
    margin-top: 10px;
}

#listHeader{
    margin-left: 45px;
}











