
label{
    color: #EDF5E1;
    margin-top: 10px;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#superheroId{
    margin-bottom: 10px;
}

.textBox {
    display: inline-block;
    width: 150px;
    margin-top: 10px;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -20px;
    padding: 0;
    text-align: center;
    position: relative;
}

body{
    font-family: '8BIT WONDER', sans-serif;
    background-color: #5CD895;
    COLOR: #EDF5E1;
    margin: 0;
    padding: 0;
}

#colouredBlock{
    height: 100vh;
    width: 175px;
    background-color: #0c0032;
    position: absolute;
    left: 0;
}

.centered-content {
    position: absolute;
    top: 24%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#createButton {
    font-family: '8BIT WONDER', sans-serif;
    font-size: 11px;
    margin-top: 15px;
    right: 0;

}

.selectionBox{
    margin-top: 10px;
    width: 125px;
    text-align: center;
    align-content: center;
}

#headerDiv{
    background-color: #0c0032;
    height: 50px;
}

#startP{
    margin-top: 250px;
}

#publisherLabel{
    margin-top: 25px;
}

#otherSelection{
    width:125px;
}

#listContainer{
    margin-top: 15px;
    width: 160px;
    height: 40vh;
    background-color: white;
}

h3{
    text-underline: #EDF5E1;
}





